<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>puevfgvna.gvrgmr@tznvy.pbz</string>
	<key>contactName</key>
	<string>Christian Tietze</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>CriticMarkup</string>
	<key>uuid</key>
	<string>E756B007-7856-4660-BF32-294BE69ADBD0</string>
</dict>
</plist>
